<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Weather Code e.g 800" name="code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Temperature (°C)" name="temperature">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Wind Speed (km/h)" name="windSpeed">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Wind Direction (0 - 360°)" name="windDirection">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Pressure (hPa)" name="pressure">
      </div>
    </div>    
  </div>
  <button class="button is-primary">Add report</button>
</form>