{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Web Dev 2 Assignment
  </h3>
  <div class="section">
    Weather App Assignment - Release 3.2
  </div>
</section>