{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div class="subTitle">
  <h4> Shortest Report: {{shortestReport.code}}</h4>
  </div>
  {{> list-reports}}
  {{> add-report}}
</section>